# Fichiers système

# Dépendances
/node_modules
/npm-debug.log*
/yarn-error.log*
/pnpm-debug.log*

# Variables d'environnement
.env

# Fichiers de build
/dist
/build

# Fichiers de log
logs
*.log
npm-debug.log*

# Fichiers de dépendance de runtime
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local


# Fichiers de sauvegarde des éditeurs
*~
*.swp
.idea/
.vscode/
*.sublime-*
